alembic==1.13.1
blinker==1.6.2
cffi==1.16.0
click==8.1.6
cryptography==42.0.0
Flask==2.3.3
Flask-CKEditor==0.5.1
Flask-Login==0.6.3
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flaskckeditor==1.6
greenlet==3.0.3
gunicorn==21.2.0
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.3.1
MarkupSafe==2.1.3
packaging==23.2
pycparser==2.21
python-dateutil==2.8.2
python-editor==1.0.4
sha256==1.0
six==1.16.0
SQLAlchemy==2.0.25
typing_extensions==4.9.0
Werkzeug==2.3.7
WTForms==3.1.2