{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-success alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

<div class="about-section" id="abouttitle">
  <h1 class="titlelarge" id="title">{{ current_user.name|capitalize }}'s Dashboard</h1>
</div>
</br>

	<div class="card">
  <div class="card-body">
   
    <p class="card-text">

<div class="container">
	<div class="row">
		<div class="col-8">

    <strong>Name:</strong>
	{{ current_user.name }}<br/>

	<strong>Username:</strong>
	{{ current_user.username }}<br/>

	<strong>User Id:</strong>
	{{ current_user.id }}<br/>

	<strong>Email:</strong>
	{{ current_user.email }}<br/>

	<strong>About Author:</strong>
	{{ current_user.about_author }}<br/>

	<strong>Date Joined:</strong>
	{{ current_user.date_added }}<br/>
      
  <strong>New to Gauntlet?:</strong>
    
  <a href="{{ url_for('setup')}}" style="text-decoration:none; color:black;" >
    <em>Click Here</em>
  </a>

    </p>
    <a href="{{ url_for('logout')}}" class="btn btn-secondary btn-sm">Logout</a>

    <a href="{{ url_for('delete', id=current_user.id)}}" class="btn btn-danger btn-sm">Delete</a>
    <br/>

	</div>
	<div class="col-4">
		{% if current_user.profile_pic %}

		<img src="{{ url_for('static', filename='images/' + current_user.profile_pic)}}" width="200" align="right">
		
		{% else %}

		<img src="{{ url_for('static', filename='images/default_profile_pic.png')}}" width="200" align="right">

		{% endif %}
	
	</div>
	</div>
	</div>

  </div>
</div>
	
<br/>

<div class="card">
  <div class="card-header">
    Update Profile
  </div>
  <div class="card-body">

  	<form action="/dashboard" method="POST" enctype="multipart/form-data">
		{{ form.hidden_tag() }}

		{{ form.name.label(class="form-label") }}

		{{ form.name(class="form-control", value=name_to_update.name) }}
		<br/>

		{{ form.username.label(class="form-label") }}

		{{ form.username(class="form-control", value=name_to_update.username) }}
		<br/>

		{{ form.email.label(class="form-label") }}

		{{ form.email(class="form-control", value=name_to_update.email) }}
		<br/>

		{{ form.about_author.label(class="form-label") }}

		<textarea name="about_author" class="form-control">{{ name_to_update.about_author }}</textarea>
		<br/>

		{{ form.profile_pic.label(class="form-label") }}

		{{ form.profile_pic(class="form-control", value=name_to_update.profile_pic) }}
	
		<br/>
		{{ form.submit(class="btn btn-secondary btn-sm") }}
      
	</form>

</div>
  
</div>
</br></br>

{% endblock %}