{% extends "base.html" %}
{% block content %}
<html>
  <h1>Missing Items:</h1>
    </br>

  <div class="card">
    <div class="card-header">
      <h2>Contact Us</h2>
    </div>
    <div class="card-body">
    <p class="card-text">
      Loruem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. 
    </div>
  </div>

</br></br>

</html>
{% endblock content %}